<h2>{{ country.name | uppercase }}</h2>
<div><span>id: </span>{{country.alpha2Code}}</div>
<div>
    <label>name:
      <input [(ngModel)]="country.name" placeholder="name">
    </label>
</div>
<div>
  <label>population:
  <input [(ngModel)]="country.population" placeholder="population">
</label>
</div>
<div>
  <label>capital:
    <input [(ngModel)]="country.capital" placeholder="capital">
  </label>
  </div>
<div><img src="{{country.flag}}" style="width: 50%;" /></div>

<button (click)="goBack()">Torna indietro</button>
